{:paths ["src/clj" "src/cljs" "src/cljs_worker" "resources" "target"]
 
 :deps {
        org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        compojure/compojure {:mvn/version "1.6.1"}
        ring/ring-jetty-adapter {:mvn/version "1.8.0"}
        org.clojure/core.async {:mvn/version "1.0.567"}
        reagent/reagent {:mvn/version "0.10.0"}
        com.bhauman/figwheel-main {:mvn/version "0.2.12"}}

 :aliases {:run-clj {:main-opts ["-m" "dev.reus.rondo.core"]}
           :build-cljs {:main-opts ["-m" "cljs.main"
                                    "-co" "dev.cljs.edn"
                                    "-c" "dev.reus.rondo.app"]}
           :fig {:main-opts ["-i" "scripts/server.clj"
                             "-m" "figwheel.main"
                             "-b" "dev"
                             "-r"]}
           :build-worker {:main-opts ["-m" "cljs.main"
                                      "-co" "dev_worker.cljs.edn"
                                      "-c" "dev.reus.rondo.worker"]}
           :garamond {:main-opts ["-m" "garamond.main"]
                      :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}}}
