html {
    font-size: 0.7em;
}

a {
    cursor: pointer;
    color: #222299;
}

body {
    background-color: #2d2d2d;
    color: #cccccc;
}

input {
    font-size: 0.8em;
}

#container {
    width: 780px;
    height: 560px;
}

#main {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 400px;
}

#canvas {
    width: 400px;
    height: 400px;
}

#ui {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    width: 370px;
    height: 560px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
}

.back {
    color: #aaaaaa;
}

.teams {
    width: 170px;
    display: inline-block;
    vertical-align: top;
}

.settings {
    width: 190px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.9em;
    padding-left: 10px;
}

.teams ul {
    padding: 0;
    margin: 0 0 20px 0;
}

.teams li {
    list-style-type: none;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.4em;
    /*border-bottom: 1px solid;*/
    cursor: pointer;
}

.player.selected, .player.selected:hover,
    .team.selected, .team.selected:hover {
    background-color: #5a5a5a;
}

.player:hover, .team:hover {
    background-color: #494949;
}

li.team {
    line-height: 1.9em;
    font-size: 1.0em;
}

.teams span {
    display: inline-block;
}

.teams span.nr {
    width: 20px;
    text-align: right;
    padding-right: 10px;
}
